<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.bond.hello"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="18"/>
    <!--访问Internet权限-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--读取手机联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <!--写存储卡权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--访问网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--监听外拨电话号码-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
    <!--短信接收-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <!--读取电话状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.layout.Linear"/>
        <activity android:name=".activity.layout.Frame"/>
        <activity android:name=".activity.layout.Absolute"/>
        <activity android:name=".activity.layout.Relative"/>
        <activity android:name=".activity.layout.Table"/>
        <activity android:name=".activity.layout.Grid"/>
        <activity android:name=".activity.control.ControlText"/>
        <activity android:name=".activity.control.ControlButton"/>
        <activity android:name=".activity.control.ControlImageView"/>
        <activity android:name=".activity.control.ControlDateTime"/>
        <activity android:name=".activity.control.ControlWebView"/>
        <activity android:name=".activity.control.ControlSpinner"/>
        <activity android:name=".activity.control.ControlListView"/>
        <activity android:name=".activity.control.ControlListView1"/>
        <activity android:name=".activity.control.ControlGridView"/>
        <activity android:name=".activity.control.ControlGridView_SuDoKu"/>
        <activity android:name=".activity.control.ControlGallery"/>
        <activity android:name=".activity.http.Main"/>
        <!--landscape水平方向-->
        <!--portrait垂直方向-->
        <!--指定布局方位,防止Activity销毁重建-->
        <activity android:name=".activity.http.DownloadImage" android:screenOrientation="landscape"
                  android:configChanges="keyboard|screenSize"/>
        <activity android:name=".activity.http.HtmlView"/>
        <activity android:name=".activity.http.Restful"/>
        <activity android:name=".activity.http.Async"/>
        <activity android:name=".activity.http.UploadFile"/>
        <activity android:name=".activity.http.SmartImage">
            <intent-filter>
                <!--可自定义动作android.intent.action.VIEW-->
                <action android:name="org.bond.hello.action.XXX"></action>
                <!--默认android.intent.category.DEFAULT-->
                <category android:name="android.intent.category.DEFAULT"></category>
                <!--数据格式bond:234122-->
                <!--tel:13576541234-->
                <!--vnd.android.cursor.dir-->
                <data android:mimeType="vnd.android.cursor.item/hello" android:scheme="bond"></data>
            </intent-filter>
        </activity>
        <activity android:name=".activity.http.MThreadDownload"/>
        <!--singleTop栈顶有了就不重新创建(浏览器书签,短信发送)-->
        <!--singleTask检查任务栈,清空该Activity上面所有东西(浏览器主Activity)-->
        <!--singleInstance在整个手机中只会有一个实例存在(来电界面,紧急呼叫)-->
        <activity android:name=".activity.intent.Main" android:launchMode="singleTop"/>
        <!--指定主题-->
        <activity android:name=".activity.intent.IntentResult" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".activity.receiver.Main"/>
        <activity android:name=".activity.receiver.IpNumberSet"/>
        <activity android:name=".activity.service.StartPhoneStatus"/>
        <activity android:name=".activity.service.Main"/>
        <activity android:name=".activity.service.MusicPlayer"/>
        <activity android:name=".activity.service.BindLocalService"/>
        <activity android:name=".activity.service.BindRemoteService"/>
        <activity android:name=".activity.service.RegisterReceiver"/>
        <activity android:name=".activity.image.Main"/>
        <activity android:name=".activity.image.LoadBigImage"/>
        <activity android:name=".activity.image.GalleryImage"/>
        <activity android:name=".activity.image.DrawGirl"/>
        <receiver android:name=".receiver.OutCallReceiver">
            <intent-filter>
                <!--新的外拨电话-->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SmsReceiver">
            <!--1000:优先级最高;-1000优先级最低-->
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
            </intent-filter>
        </receiver>
        <service android:name=".service.PhoneStatusService"/>
        <service android:name=".service.MusicPlayerService">
            <intent-filter>
                <action android:name="org.bond.hello.service.MusicPlayerService"></action>
            </intent-filter>
        </service>
        <service android:name=".service.LocalService"/>
        <service android:name=".service.ReceiverService"/>
    </application>
</manifest>
